@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
  color: #18181b;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #dce8ff;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent;
}
